<br>
<div class="container">
  <ul>
    <% @restaurants.each do |restaurant| %>
      <div class="row">
        <div class="col-sm-6">
          <h3><%= link_to "ðŸ£ " + restaurant.name, restaurant_path(restaurant) %></h3>
        </div>
        <div class="col-sm-2 text-right">
          <p><%= restaurant.address %></p>
        </div>
        <div class="col-sm-2 text-right">
          <p><%= restaurant.category.capitalize %></p>
        </div>
      </div>
    <% end %>
  </ul>
</div>